.primary-btn {
    border: 1px solid $smoky-black;
    font-family: $raleway;
    font-weight: $bold;
    font-size: $small;
    color: $smoky-black;
    background: $white;
    padding: .5rem 1rem;
    margin: 1rem 0;

    &--hover:hover {
        border-color: $quick-silver;
    }

    &--focus:focus {
        border-color: $quick-silver;
        color: $quick-silver;
    }
}

.subscribe-btn {
    position: relative;
    float: right;
    left: 10.4em;
    color: $smoky-black;
    background-color: $white;
    transform: rotate(90deg);
    padding: 1rem 4.5rem;
    margin: 0;
    font-family: $old-standard;
    font-weight: $bold;
    font-size: $medium;
    text-align: center;
    border: none;
    width: 14rem;
}