.cover {
    background-image: url(../img/main-image.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 33vh;
}
@media (min-width: 768px) {
    .cover {
        background-position: 0 33%;
    }
}


@media (min-width: 992px) {
    .cover {
        display: none;
    }
}

