.navigation__logo {
    position: relative;
    float: left;
    box-sizing: border-box;
    background-color: $smoky-black;
    color: $white;
    padding: 1em 1em;
    font-family: $old-standard;
    // transform: rotate(-90deg);
    height: 4em;
    width: 4em;
    text-align: center;
    font-size: $x-large;
}