.newsletter {  

    &__content {
        box-sizing: border-box;
        background-color: $smoky-black;
        color: $white;
        padding: 5rem 3rem;
        
    } 

    &__subscribe {
        box-sizing: border-box;
        // padding: 5em;
        background-color: $white;
        color: $smoky-black;
        height: 100%;

        &__text {
            transform: rotate(90deg);
            font-family: $old-standard;
            font-weight: $bold;
            position: relative;
            top: 50%;
        }
    }

    input {
        width: 50%;
    }
}

:placeholder-shown  {
    font-family: $raleway;
    font-size: $x-small;
    color: $smoky-black;
    padding: .5em;
    opacity: 1;


    .col-xs-1 {
        max-width: 10%;
    }
}