.main-section__newsletter {
    background-color: $smoky-black;
    height: 10rem; 
    padding: 1em 5em;   

    &__content {
        box-sizing: border-box;
        padding-top: 2.5em;
        background-color: $smoky-black;
        color: $white;
        
        

        &__text {
            position: relative;
            float: left;
            clear: both;
        }

        &__email-box {
            position: relative;
            float: left;
            clear: left;
            width: 20%;
        }
    } 
}