/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  box-sizing: border-box;
  line-height: 1.6;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #646266;
}

a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h1 {
  font-family: "Old Standard TT", serif;
  font-size: 20px;
  font-weight: 700;
}

h2 {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-family: "Old Standard TT", serif;
  font-size: 20px;
  font-weight: 700;
}

h4 {
  font-family: "Old Standard TT", serif;
  font-size: 18px;
  font-weight: 300;
}

h5 {
  font-family: "Old Standard TT", serif;
  font-size: 16px;
  font-weight: 300;
}

.container {
  margin: 0;
  padding: auto 1rem;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.navigation {
  overflow: hidden;
  background-color: #fff;
  height: 4em;
}
.navigation__container {
  float: right;
}

.main-section__img {
  background-image: url(../img/main-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navigation__logo {
  position: relative;
  float: left;
  box-sizing: border-box;
  background-color: #0C0910;
  color: #fff;
  padding: 1em 1em;
  font-family: "Old Standard TT", serif;
  height: 4em;
  width: 4em;
  text-align: center;
  font-size: 20px;
}

/* header */
.navigation {
  background-color: #fff;
  position: relative;
  width: 100%;
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.navigation li a {
  display: block;
  text-align: left;
  color: #0C0910;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 0 1em;
  text-decoration: none;
}
.navigation .navicon {
  padding: 0.1rem;
}

/* menu */
.navigation__menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.menu-icon {
  cursor: pointer;
  float: right;
  padding: 1rem;
  position: relative;
  user-select: none;
  font-size: 1.3rem;
}

/* menu btn */
.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-btn:checked ~ .navicon {
  background: transparent;
}

.menu-btn:checked ~ .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .navigation li {
    float: left;
  }

  .navigation li a {
    padding: 20px 30px;
  }

  .navigation__menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .menu-icon {
    display: none;
  }
}
.cover {
  background-image: url(../img/main-image.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 33vh;
}

@media (min-width: 768px) {
  .cover {
    background-position: 0 33%;
  }
}
@media (min-width: 992px) {
  .cover {
    display: none;
  }
}
.main-section__intro {
  margin: 1.5em auto;
  width: 80%;
}
.main-section__intro span {
  display: none;
}
.main-section__intro p {
  padding: 0.5em 0;
}

@media (min-width: 768px) {
  .main-section__intro {
    margin: 1rem 0 6rem 4rem;
    width: 56%;
  }
  .main-section__intro h2 {
    font-size: 2.5em;
  }
  .main-section__intro span {
    display: inline;
  }
}
.newsletter__content {
  box-sizing: border-box;
  background-color: #0C0910;
  color: #fff;
  padding: 1rem 2rem;
}
.newsletter__content h5 {
  font-size: 14px;
}
.newsletter__subscribe {
  box-sizing: border-box;
  background-color: #fff;
  color: #0C0910;
  height: 100%;
  width: 10vw;
}
.newsletter__subscribe__text {
  transform: rotate(90deg);
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  position: relative;
  top: 40%;
  font-size: 14px;
}
.newsletter input {
  width: 100%;
}

:placeholder-shown {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #0C0910;
  padding: 0.5em;
  opacity: 1;
}
:placeholder-shown .col-xs-1 {
  max-width: 10%;
}

@media (min-width: 768px) {
  .newsletter {
    min-height: 20vh;
    background-color: #0C0910;
    color: #fff;
    box-sizing: border-box;
  }
  .newsletter h5 {
    padding: 0.3rem 0;
  }
  .newsletter__content {
    margin: auto 0;
    padding: 3.6rem 4rem;
  }
  .newsletter__subscribe {
    width: 7vw;
  }
  .newsletter__subscribe__text {
    top: 50%;
  }
}
@media (min-width: 992px) {
  .newsletter__subscribe {
    width: 4vw;
  }
}
.primary-btn {
  border: 1px solid #0C0910;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #0C0910;
  background: #fff;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}
.primary-btn--hover:hover {
  border-color: #A6A5A8;
}
.primary-btn--focus:focus {
  border-color: #A6A5A8;
  color: #A6A5A8;
}

.subscribe-btn {
  position: relative;
  float: right;
  left: 10.4em;
  color: #0C0910;
  background-color: #fff;
  transform: rotate(90deg);
  padding: 1rem 4.5rem;
  margin: 0;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  border: none;
  width: 14rem;
}

@media (min-width: 768px) {
  .primary-btn {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
